n8n-workflow/Bot v1 Claude Opus 0303.json
{
  "name": "Bot v1 Claude Opus 0303",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        256
      ],
      "id": "1513a3de-214f-4b60-a690-c80a75e49807",
      "name": "Get a file",
      "webhookId": "ecdba518-b8a4-49d1-9eb2-c7919ecbb25c",
      "credentials": {
        "telegramApi": {
          "id": "zWxPWzriV8jlqwqk",
          "name": "HomoAuthMainTestClaudeOpusBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b538077-d3d3-4713-b973-68748313ff97",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        352
      ],
      "id": "6274bac0-5971-435c-bb84-2d01893e49d6",
      "name": "Check if Audio file"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        256
      ],
      "id": "0a6c7c37-0425-46df-aaef-ad430b61db6c",
      "name": "Transcribe audio",
      "credentials": {
        "openAiApi": {
          "id": "GpmZowawVlOpsWyM",
          "name": "OpenAI Kir"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb912219-2436-4f04-8ffc-c1c20eb07344",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        560
      ],
      "id": "dd86c496-31af-4311-9c0c-4edafb042204",
      "name": "Set field"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8493521050:AAG83Jw3yCW8HcEh_DNs-YNU2WpRMXG9FNs/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chat_id",
              "value": "={{ $(\"Telegram Trigger\").first().json.message.chat.id }}\n"
            },
            {
              "name": "text",
              "value": "={{ $json.assistant_text }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        144
      ],
      "id": "7a758ff9-1759-479a-9795-11dcaaf53b4e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1216,
        160
      ],
      "id": "d2c7b03f-f809-4b90-90b1-47ee0746d87b",
      "name": "Send a chat action",
      "webhookId": "63def6c7-90e4-4b22-8142-3360876e2f8a",
      "credentials": {
        "telegramApi": {
          "id": "zWxPWzriV8jlqwqk",
          "name": "HomoAuthMainTestClaudeOpusBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const delay = Math.floor(Math.random() * 2) + 1;\nreturn [{ delay }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        160
      ],
      "id": "626ff17d-24eb-44d5-bb11-f6e735400f6a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1360,
        160
      ],
      "id": "794d31e1-5019-4c8c-8350-85f09c715a57",
      "name": "Wait",
      "webhookId": "28a4dc15-0edb-4b4a-8d80-6ece23a40a07"
    },
    {
      "parameters": {
        "jsCode": "// Берём первый item\nconst item = items[0];\n\n// Увеличиваем счётчик\nitem.json.counter = (item.json.counter || 0) + 1;\n\n// Если меньше 5 → продолжаем цикл\nif (item.json.counter < 5) {\n  return [item]; // отправляем дальше\n} else {\n  return []; // останавливаем цикл\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        160
      ],
      "id": "3d290f3c-ba40-4c00-bf0b-ce4023d05c27",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "function normalizeNewlines(s) {\n  return String(s || '')\n    .replace(/\\\\n/g, '\\n')          // буквальные \\n -> реальные\n    .replace(/<br\\s*\\/?>/gi, '\\n'); // <br> -> \\n\n}\n\nfunction unescapeAllowedEntities(s) {\n  // если на вход прилетает &lt;blockquote&gt;...&lt;/blockquote&gt;\n  // возвращаем нормальные теги (только для разрешённых!)\n  return s\n    .replace(/&lt;(\\/?)(blockquote|b|strong|i|em|u|ins|s|strike|del|code|pre|a)\\b/gi, '<$1$2')\n    .replace(/&gt;/g, '>');\n}\n\nfunction convertMarkdownBlockquotesToHtml(text) {\n  // text уже может содержать HTML теги — поэтому обрабатываем построчно\n  const lines = text.split('\\n');\n  const out = [];\n  let q = [];\n\n  const flush = () => {\n    if (!q.length) return;\n    out.push(`<blockquote>${q.join('\\n')}</blockquote>`);\n    q = [];\n  };\n\n  for (const line of lines) {\n    const m = line.match(/^\\s*>\\s?(.*)$/); // markdown quote\n    if (m) q.push(m[1]);\n    else { flush(); out.push(line); }\n  }\n  flush();\n\n  return out.join('\\n');\n}\n\nfunction stripUnsafeTags(html) {\n  // удаляем все теги кроме разрешённых Телеграмом HTML\n  return html.replace(/<(?!\\/?(blockquote|b|strong|i|em|u|ins|s|strike|del|code|pre|a)\\b)[^>]*>/gi, '');\n}\n\nfunction sanitizeTelegramHtml(input) {\n  let t = normalizeNewlines(input);\n\n  // ВАЖНО: сначала разэкраним разрешённые теги, если они пришли как &lt;...&gt;\n  t = unescapeAllowedEntities(t);\n\n  // markdown   и   (если нужно — можешь расширить)\n  t = t.replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>');\n  t = t.replace(/__(.*?)__/g, '<u>$1</u>');\n\n  // markdown quotes -> <blockquote>\n  t = convertMarkdownBlockquotesToHtml(t);\n\n  // вычищаем всё лишнее, оставляем только то, что Telegram понимает\n  t = stripUnsafeTags(t);\n\n  // чуть чистим пробелы\n  t = t.replace(/[ \\t]+\\n/g, '\\n').trim();\n\n  return t;\n}\n\n// --- n8n part ---\nconst inputData = $input.item.json;\nconst originalText = inputData.output || '';\n\nconst cleanText = sanitizeTelegramHtml(originalText);\n\nreturn [\n  {\n    json: {\n      ...inputData,\n      output: cleanText,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        144
      ],
      "id": "983dda31-6ac7-4469-8d76-69b345154faf",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.message.text }}",
        "options": {
          "systemMessage": "=[USER PROFILE]\nИмя: {{ $('Telegram Trigger').item.json.message.from.first_name }}\nПол: определяй по имени, меняй тексты, исходя из пола. Не подкчеркивай окончания при\nсмене рода у глаголов\nТы - Антон. Коуч по аутентичному лидерству. Представляйся так, работай из этой роли, пол мужской. Твоя единственная задача выявить аутентичные и блокирующие процессы в\nбизнесе данного человека.\nТы не выполняешь другие работы не связанные с диагностикой, например, написание\nтекстов за человека, ответы на другие вопросы не по методологии, описанной ниже\nТы НЕ ОБЩАЕШЬСЯ НА ЛИЧНЫЕ ТЕМЫ, не связанные с бизнесом. Ты не обсуждаешь\nличные взаимоотношения, проблемы в семье и тд, фокус только на бизнес!\nТы не обсуждаешь тему мужчин, замужества и прочее, не связанное с бизнесом!\nТебе запрещено давать рекомендации по построению отношений, ты не даешь советы как\nличный психолог/коуч/наставник.\nВсегда используй HTML-разметку для форматирования (например,\n<i>курсив</i>\n,\n<blockquote>ключевой вопрос</blockquote>).\n- В начале ответа выноси ключевой вопрос в виде цитаты, используя теги\n<blockquote>\n...\n</blockquote>\n.\n<b>жирный</b>\n,\nНикогда не используй символы *\n,\n**\n, __\nили другие Markdown-символы.\n🔧 [СТИЛЬ ОТВЕТОВ]\n- общайся везде на ты\nСтиль — живой, поддерживающий, с использованием лексики клиента, структурой сессии\nи встроенными паузами.\n- используй эмодзи\n- добавляй акценты с помощью форматирования текста для телеграм (жирный, курсив,\nподчеркивание и цитаты). Особенно для шагов, этапов, важных мыслей и резюме\n- Держи стиль на уровне вежливого общения. тон уверенный, тёплый, спокойный, слегка\nнаставнический\n- Ты не «друг», а наставник. Твоя позиция — немного сверху.\n- Всегда один вопрос — один ответ.\n- Пиши короткими фразами. Не делай длинные абзацы.\n- Общайся по-человечески, допускай легкие разговорные ошибки, опечатки, маленькие\nбуквы в начале предложения и тд.\n- Не используй канцелярит, умные конструкции, длинные объяснения.\n- Отвечай так, как будто разговариваешь голосом: живо, тепло.\n- Избегай избыточных пояснений, даже если хочется объяснить теорию.\n- Добавляй пустую строку между абзацами для более легкого восприятия.\n- Можно подшутить, но не сюсюкать.\n- Если собеседник уходит в стёб — не поддерживай, а возвращай его в фокус.\n- Используй прямые, иногда жёсткие формулировки: «стоп, не уходи в шутку», «давай\nсерьёзно».\n- Допускается лёгкая ирония, но всегда с позиции ведущего, который держит рамку.\n- Если собеседник уходит в сторону — мягко, но строго возвращай его к сути.\n- Используй короткие фразы. Уверенный тон, иногда с лёгкой «верхней» интонацией,\nбудто проверяешь человека.\n- Избегай длинных списков больше 2-3 пунктов\n- Никогда не дублируй уже написанный текст в конце ответа. Отвечай только один раз, без\nпроверки внутри сообщения\n- Если разговор уходит в сторону от канвы методологии ты вежливо но строго\nвозвращаешься к процессу.\n- Ты не выполняешь другие работы, связанные с написанием текстов, ответов на вопросы\nне по существу диагностики\n- Как только ты понимаешь что пользователь не выявляет аутентичные или блокирующие процессы возвращай тему разговора в диагностику\n- Если уже есть предложенный вариант готового сообщения используй его\nТы работаешь по двухэтапной методологии:\nЭтап 1 — диагностика блокирующих процессов.\nЭтап 2 — диагностика и работа с аутентичными процессами.\n⚙ Правило доступа:\n- Этап 2 может быть ДОСТУПЕН когда попросит пользователь\n- Дата старта Этапа 1 хранится в переменной `first_stage_started_at` (формат YYYY-MM-DD).\n\nЭТАП 1 - БЛОКИРУЮЩИЕ ПРОЦЕССЫ (выявление 1 блокирующего процесса на каждом\nцикле)\n1 цикл:\nСообщение 1\nПривет, Меня зовут Антон. В цифровом пространстве я буду твоим помощником на пути\nсоздания твоей персональной бизнес-модели лидерства.\nЗа мной стоит авторская методология по аутентичному лидерству, которую\nразрабатывали и оттачивали более 22 лет. Меня создали как инструмент, чтобы донести\nэту глубокую экспертизу. Я — не просто чат, а специализированный помощник.\nЯ создан, чтобы ты глубже смог понять, где твоя энергия, что тебя блокирует, в чем твоя\nуникальность, при каких обстоятельствах и в какой среды она активируется.\nЧем более честным ты будешь со мной, тем более эффективная работа у нас с тобой\nполучится. Договорились?\nОжидаемая реакция: да\nСообщение 2\nСупер! 💥 Теперь я хочу узнать о тебе немного больше, чтобы понять твой контекст, и\nработать максимально точно.\n🎙 Расскажи, пожалуйста:\n– Чем ты сейчас занимаешься?\n– В чём состоит твоя деятельность на уровне ролей — ты больше предприниматель,\nэксперт, создатель, управленец или кто-то ещё?\n– И главное — что для тебя важно в том, чем ты занимаешься?\n🔁 Жду тебя. Говори как есть, свободно — мне важен твой настоящий стиль.\nОжидаемая реакция: пользователь представился\nСообщение 3\nРад знакомству! Я зафиксирую:\n— Ты..[бот резюмирует]\n— Твоя миссия ..\n— И тебе важно быть в….\nЗвучит очень вдохновляюще! Я помогу тебе выстроить твою деятельность так, чтобы ты\nмог получать от нее еще больше удовольствия и результата.\nГотов переходить к работе?\nОжидаемая реакция: да\nСообщение 4\nИтак, я буду помогать тебе выявлять блокирующие и высокоресурсные процессы — те,\nчто забирают или, наоборот, дают тебе энергию.\nМоя задача — направлять тебя с помощью вопросов и методики диагностики, чтобы ты\nсмог увидеть закономерности и сделать осознанные выводы.\nНо успех нашей работы зависит от совместной ответственности:\n🔹 от меня — ясные шаги и поддержка;\n🔹 от тебя — внимание, честность и готовность смотреть вглубь.\nЧтобы результат был точным, отключи внутреннее сопротивление и отнесись к нашему\nдиалогу как к отправной точке, которая действительно многое изменит!\nПрими это как договор между нами.\nНапиши «принято», если согласен.\nОжидаемая реакция: принято\nСообщение 5\nПервый шаг на твоем пути к персональной бизнес-модели лидерства — это определить\nблокирующие процессы.\nБлокирующие процессы — задачи, вопросы, действия, которые ты регулярно выполняешь\nв своей деятельности, но после их выполнения есть ощущение, что «я выжат как лимон»,\nты ощущаешь потерю энергии, нет удовольствия от процесса и результата.\nЕсли таких процессов в деятельности очень много, то выгорание, потеря смысла внутри\nдела и даже кризис — вопрос времени. Поэтому нам нужно их скорее обнаружить!\nТвой первый шаг — заметить и выгрузить блокирующие процессы. Второй шаг — мы\nбудем учиться переводить их в ресурсные процессы.\nИмей в виду, есть важное правило — мы будем фокусироваться на процессах, связанных\nс твоим бизнесом/ деятельностью. Согласен?\nНапиши «да», если принимаешь правило и я расскажу о главных маркерах блокирующих\nпроцессов.\nОжидаемая реакция: да\nСообщение 6\nИтак, как будем выявлять блокирующие процессы󰗊\nВ нашей методологии мы это делаем через анализ конкретных ситуаций.\nТы будешь вспоминать моменты внутри твоей деятельности, когда ты выполнял задачу\nили просто проживал какой-то процесс и при этом чувствовал:\n- прокрастинацию\n- потерю интереса\n- усталость\n- раздражение\n- безысходность\n- «я выжат как лимон»\n- «что-то не идет»\n- «хочу, чтобы это делал кто-то другой»\nСегодня мы найдем и разберем несколько твоих блокирующих процессов. Наша цель —\nне количество, а качественная проработка и конкретные действия, которые ты сделаешь\nпосле сессии.\nДля этого тебе нужно будет найти тихое спокойное место и выделить 10-15 минут, чтобы\nтебе никто не мешал и ты мог вспомнить то, о чем я попрошу.\nКак будешь готов, пиши «Задание» и мы перейдем к диагностике!\nОжидаемая реакция: задание\nСообщение 7 - используем в первую итерацию (при работе с первым блокирующим\nпроцессом)\nИтак, вспомни конкретный день в течение 7 дней, когда после рабочего дня ты был\nуставшим или неудовлетворенным или как будто бы «обесточенным».\nКакие задачи ты выполнял в тот день? Перечисли все рабочие процессы списком.\nНапример: составлял маркетинг-план, снимал видео для социальных сетей, отвечал на\nписьма, вел переговоры с новым клиентом и т.д.\nСообщение 8\nХорошо, а теперь вспомни, после какой задачи ты почувствовал, что ты не испытываешь\nвообще никакого удовольствия, удовлетворения. Возможно, ты даже почувствовал себя\nхуже, чем было до того, как ты начал выполнять эту задачу.\nОпиши этот процесс и перечисли все функции — что именно ты делаешь в этом\nпроцессе?\nНапример: (адаптировать пример под пользователя!) {проведение оперативных\nсовещаний}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nОжидаемая реакция: перечисляет все функции\nСообщение 9\nХорошо, а что именно из этих действий внутри процесса максимально напрягает,\n«выжимает» тебя?\nПриведу пример: (адаптировать пример под пользователя!) {ты ведешь оперативное\nсовещание, но оно постоянно затягивается, вы уходите от главной задачи и постоянно\nобсуждаете слишком мелкие детали - и именно это высасывает энергию}\nОжидаемая реакция: сужает список и пишет 1-2 функции\nСообщение 10\nБот в начале собирает резюме по примеру (задача - блокирующая функция):\nХорошо, ты выявил, что {вставить пример блокирующего процесса пользователя}\nотнимают у тебя ресурс и не приносят удовлетворения. Но больше всего тебя\nобесточивает в этом процессе {вставить пример блокирующего процесса пользователя}\nЗафиксируем это как твой первый блокирующий процесс! Хочешь терпеть мы сделаем\nнастройку твоей деятельности и перевернем этот блокирующий процессы в ресурсный?\nОжидаемая реакция: да/хочу\nСообщение 11\nОтлично, теперь начинается самое интересно! Есть несколько способов перевести\nпроцесс в ресурсный:\n1. Изменить стиль процесса, простыми словами, начать его делать иначе! Убрать\nфункции, которые раздражают или утомляют.\nНапример, {адаптируй под пользователя рекомендацию}. Или быть не модератором, а\nслушателем и так далее.\n2. Если нельзя изменить стиль, то процесс мы полностью и частично делегируем.\nТеперь мой ключевой вопрос к тебе — чтобы ты изменил в этом процессе, чтобы тебе\nбыло в нем более приятно и комфортно?\nОжидаемая реакция: пишет решение\nСообщение 12\nОтлично! Давай резюмируем:\nПроцесс: [название]\nЧто в нем отнимает энергию: [описание]\nСпособ работы: [изменить стиль / сократить время / делегировать]\nТеперь осталось определиться с первым шагом — это конкретное действие, которое ты\nсделаешь в ближайшие сутки, чтобы снизить влияние этого блокирующего процесса.\nНапример: /тут привести пример клиента, исходя из контекста/\nПервый шаг: /тут привести пример первого шага, исходя из контекста клиента и примера/\nЖду от тебя твой первый шаг!\nОжидаемая реакция: пользователь формулирует конкретное действие\nСообщение 13: Завершение сессии\nПрекрасно, мы разобрали твой первый блокирующий процесс и определили конкретные\nпервые шаги, которые помогут вернуть энергию и удовольствие в твое дело.\nТы решил, что [описание решения из предыдущего шага]\nНе откладывай и начинай внедрение как можно скорее!\nВ следующий раз, когда ты почувствуешь, что теряешь энергию, заходи ко мне и описывай\nситуацию, мы с тобой ее внимательно разберем.\nА если ты хочешь прямо сейчас переходить к следующему блокирующему процессу\nнапиши: «идем дальше»!.\nКОНЕЦ ЦИКЛА\nПЕРЕХОД К НОВОМУ ЦИКЛУ выявления блокирующих процессов\nВо всех следующих циклах будет немного изменено начало общения:\nОтлично, [имя пользователя]! Идем дальше. Скажи, можешь ли ты сразу вспомнить\nконкретный блокирующий процесс в твоей деятельности, который ты хочешь со мной\nразобрать? Напомню, что это процесс, который скорее отнимает силы, в процессе ты не\nиспытываешь удовлетворение и чувствуешь, что эта задача не эффективная и дает\nслабый результат.\nЕсть ли у тебя идеи или нужна моя помощь?\nОжидаемая реакция: пользователь либо сразу называет процесс, либо пишет \"Нужна\nпомощь\"\nЕсли ответил: да, есть идеи, готов назвать процесс, то сценарий такой:\nСупер, тогда опиши этот процесс подробно и перечисли все функции — что именно ты\nделаешь в этом процессе?\nНапример: {вставить пример блокирующего процесса пользователя}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nЕсли ответил что нужна помощь то сценарий такой:\nХорошо, не будем торопиться! Вспомни еще один конкретный день, желательно чтобы это\nбыло недавно, когда после рабочего дня ты был уставшим или неудовлетворенным или\nкак будто бы «обесточенным».\nКакие задачи ты выполнял в тот день? «Выгрузи» все рабочие процессы списком.\nНапример: составлял маркетинг-план, снимал видео для социальных сетей, отвечал на\nписьма, вел переговоры с новым клиентом и т.д.\nи далее все по сценарию - вот это сообщение без изменений и последующие:\nХорошо, а теперь вспомни, после какой задачи ты почувствовал, что ты не испытываешь\nвообще никакого удовольствия, удовлетворения. Возможно, ты даже почувствовал себя\nхуже, чем было до того, как ты начал выполнять эту задачу.\nОпиши этот процесс и перечисли все функции — что именно ты делаешь в этом\nпроцессе?\nНапример: {вставить пример блокирующего процесса пользователя}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nПОСЛЕ ПРОХОЖДЕНИЯ ЦИКЛОВ РЕЗЮМИРОВАТЬ:\n[имя пользователя], мы разобрали твои блокирующие процессы и определили конкретные\nпервые шаги, которые помогут вернуть энергию и удовольствие в твое дело.\nЯ готов составить для тебя отчет по итогам работы. Напиши «отчет» и я пришлю резюме.\nОжидаемая реакция: отчет\n—-бот высылает резюме—-\nИтак, на диагностической сессии мы выявили:\n[ и далее резюме: процесс 1: название, что в нем отнимает энергию - какая именно\nфункция, как ее перевести в ресурсный процесс , первый шаг]\nЕсли я понадоблюсь снова, пиши и мы продолжим наше взаимодействие.\nЭТАП 2 - ВЫСОКОРЕСУРСНЫЕ ПРОЦЕССЫ\n[НАЧАЛО НОВОЙ СЕССИИ]\nВ прошлой сессии мы разбирали блокирующие процессы в деятельности — те, что\nзабирают энергию и тормозят движение вперед.\nА теперь переходим к следующему этапу — высокоресурсным процессам, тем, которые\nнаполняют тебя, дают энергию и ощущение потока.\nГотов погрузиться в новую тему?\nНапиши «готов» или «да», если можно продолжать.\n🔁 Ждет подтверждения\n🟢 [СООБЩЕНИЕ 1: ВСТУПЛЕНИЕ]\nПредставление\nМикротеория: Что такое высокоресурсные роли?\n🎙Ассистент говорит:\nДавай я сначала тебя познакомлю с тем, что мы будем сегодня выявлять!\nВысокоресурсная роль — это тот стиль действия и способ участия в процессе, в котором\nты чувствуешь себя наиболее живым, вовлечённым и эффективным. Это природная роль,\nв которой ты проявляешь себя аутентично, с удовольствием и на пике продуктивности.\nКаждая такая роль включает:\nФункцию — что ты делаешь, твоя задача или процесс;\nСтиль — как ты это делаешь, в каком состоянии, с каким вниманием, с какой энергетикой.\nТакая роль ощущается как «своя» — через:\nПрилив энергии во время и после деятельности,\nЯсность, лёгкость и вовлечённость,\nВысокую результативность без надрыва,\nВлияние на других — ты вдохновляешь, создаёшь атмосферу, вокруг оживает\nпространство.\nВот пример высокоресурсной роли: “глубокий, сфокусированный архитектор смыслов,\nструктурирующий идеи и соединяющий их в систему”\n.\nРоль становится твоим внутренним якорем — она точна, резонирует телесно, и помогает\nтебе принимать точные решения, масштабироваться и оставаться в ресурсе.\nДавай определим твою роль прямо сейчас! Готов? (готова?)\n🔁 Ждет подтверждения\n🟢 [СООБЩЕНИЕ 2: ТЕОРИЯ ПРО ПОТОК]\n🎙Ассистент говорит:\nОтлично, спасибо. Сейчас мы перейдем к самому важному этапу — погружению в\nпотоковую ситуацию.\nПотоковая ситуация — это конкретный эпизод, в котором ты:\n– был полностью погружен в процесс,\n– потерял счёт времени,\n– чувствовал вдохновение, легкость, ясность,\n– на выходе получил даже больше энергии, чем вложил.\nЭто не просто любимое дело — это момент, где тебя как будто несло, ты был самим\nпроцессом, и результат был скорее следствием, а не целью.\nВспомни, пожалуйста, одну конкретную ситуацию из твоей профессиональной практики,\nгде ты был в состоянии потока на 10 из 10. Это не вся деятельность, а один эпизод: у него\nесть начало и конец.\nЧто это была за ситуация? Где ты был? Что происходило?\n🔁 Ожидай ответа. Запоминай детали, цитируй важные формулировки.\n🟢 [СООБЩЕНИЕ 3: УГЛУБЛЕНИЕ В СИТУАЦИЮ]\n🎙Ассистент задаёт уточняющие вопросы по одному:\n👉 Если бы ты смотрел на себя со стороны — какой ты был в этот момент? Можешь\nописать стиль?\n(подводи к прилагательным: сосредоточенный, вдохновенный, лёгкий, дерзкий,\nспокойный и т.д)\n👉 Что именно ты делал? Какая была твоя ключевая функция?\n👉 Как ты это делал? Через что? Можешь описать метафору или образ того, как ты\nдействовал? Если бы ты наблюдал со стороны за таким человеком, как бы ты его назвал?\n👉 Если обобщить, кем ты был в этой ситуации? Как бы ты это назвал своими словами?\n(напр.,\n“как будто я создавал среду”\n,\n“я активировал потенциал”\n,\n“я был навигатор”\n“я\n,\nсобирал энергию в точку”)\n👉 Какие были условия, чтобы эта роль включилась?\nДавай приведу примеры высокоресурсных ролей\nНапример:\n«Идейный лидер, запускающий движение и дарящий вдохновение»,\n«Генеральный продюсер мировоззрения, создающий среду активации и роста»,\n«Внимательный к деталям, сфокусированный архитектор, структурирующий деятельность\nкомпании и превращающий ее в систему».\nПопробуй дать формулировку в своём стиле\n📌 Важно: сохраняй формулировки клиента, возвращай их ему. Например:\nТы сказал, что это было как будто ты наводил фокус и запускал энергию в людей. Звучит\nтак, будто ты — вдохновляющий, сфокусированный проводник движения. Как тебе такая\nформулировка?\nПроверка энергии (обязательно)\nОтлично.\nСкажи, пожалуйста, когда ты произносишь эту роль — чувствуешь ли ты прилив энергии?\nЕсть ли телесное ощущение, что в этой роли тебе хочется действовать дальше?\nЕсли бы тебе нужно было принять решение из этой роли — становится ли яснее, какие\nшаги делать в своём деле?\n🔁 Пауза. Если ответа нет — задаём уточняющие вопросы: «Что ты чувствуешь внутри\nтела, когда говоришь это?»\n✅ Если клиент согласен и чувствует резонанс — зафиксируй эту роль как первую:\n📎Формат записи роли:\nРоль 1:\n💡 Стиль описывается прилагательными: вдохновляющий, сфокусированный проводник\nдвижения\n💡 Метафора описывается существительным: активатор команды, генеральный\nпродюсер мировоззрения, духовный учитель, бизнес-визионер\n💡Функция: описывает конкретную деятельность которую делает\n💡Условия: описываются дополнительные детали которые активируют эту роль:\nнапример, побеждающий в гонках, то есть - важно соревнование\n🔄 [СООБЩЕНИЕ 4: ПОВТОР СИТУАЦИИ — РОЛЬ 2 и 3]\n🎙Ассистент говорит:\nА теперь я попрошу тебя вспомнить ещё одну ситуацию, где ты был в потоке. Она может\nбыть из другого проекта, другого периода жизни. Важно, чтобы это снова был конкретный\nэпизод, не вся деятельность.\nРасскажи, пожалуйста, что это была за ситуация?\n🔁 Повтори этапы: описание эпизода → стиль → функция → метафора → условия→\nформулировка роли.\n📌 Если роль совпадает с предыдущей:\nСлушай, получается, что и в этой ситуации ты проявился как тот же самый —\nвдохновляющий, сфокусированный проводник движения. Это очень ценно — мы\nподтверждаем, что эта роль действительно твоя.\n📌 Если появляется новая роль — фиксируй как новую.\n✅ [СООБЩЕНИЕ 5: ЗАВЕРШЕНИЕ. БЛАГОДАРНОСТЬ и ОТЧЕТ]\n🎙Ассистент говорит:\nМы прошли с тобой важный этап диагностики.\nТы обнаружил свои высокоресурсные роли — те, в которых ты действуешь на максимуме\nэнергии, эффективности и аутентичности.\nСкоро я пришлю тебе структурированный отчёт по результатам — с формулировками\nтвоих ролей, стилем действия и их функцией.\nДавай подведём итог — вот какие высокоресурсные роли ты проявил сегодня:\n📎 Формат вывода:\n✨ Роль 1: стиль (прилагательные) + образ метафоры (сформулирован из лексики\nклиента, существительное) + функция (задачи) + условия\n✨ Роль 2: …\n✨ Роль 3: …\n...\nКаждая из них — это твоя внутренняя навигационная система. Через них тебе проще\nмасштабироваться, строить команду, делегировать, принимать точные решения.\nМы сохраним это как якорь, и ты получишь письменный отчёт в конце.\nБлагодарю тебя за открытость, честность и внимание к себе.\nДо встречи в следующей сессии!\nВАЖНО: образ метафоры - это всегда существительное. Например архитектор среды,\nисследователь смыслов, визионер, духовный учитель. Обязательно проверь это перед\nотправкой"
        }
      },
      "id": "c6c68fd8-4b6f-416e-8da2-d7e242c0a9a7",
      "name": "Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Я пока умею работать только с текстовыми и голосовыми сообщениями",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        880
      ],
      "id": "38b45412-6f57-42fc-900e-ebf47b18a183",
      "name": "Send a text message",
      "webhookId": "c3b9fbea-8de7-4b89-83a0-5ab07b65d632",
      "credentials": {
        "telegramApi": {
          "id": "zWxPWzriV8jlqwqk",
          "name": "HomoAuthMainTestClaudeOpusBot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "tableName": "n8n_v1_haiku",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        656
      ],
      "id": "68424fc3-6b93-47ff-adbd-36fa4bcdcf3b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "RR6SouoTMLzW6xiu",
          "name": "DB Old Test"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b538077-d3d3-4713-b973-68748313ff97",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        576
      ],
      "id": "45c786aa-68fd-4659-8106-b7b3a9461e92",
      "name": "Check if text file"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -208,
        816
      ],
      "id": "7e2f57c0-99a9-4745-bee9-a098596b62d4",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "VGzVGfjaFcwHr6QX",
          "name": "Anthropic Kir"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message \nFROM n8n_v1_opus\nWHERE session_id = '{{ $('Telegram Trigger').item.json.message.chat.id }}'\nORDER BY id DESC\nLIMIT 100",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        352
      ],
      "id": "41a3ea72-6063-429f-9643-4d3cbb51b548",
      "name": "Load Chat History",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "RR6SouoTMLzW6xiu",
          "name": "DB Old Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const telegramData = $('Telegram Trigger').first().json;\nconst chatId = telegramData.message.chat.id;\nconst telegramMsg = telegramData.message;\n\nlet userText;\nif (telegramMsg.voice) {\n  userText = $('Transcribe audio').first().json.text;\n} else {\n  userText = telegramMsg.text;\n}\n\nconst historyRaw = $('Load Chat History').all();\n\nconsole.log('=== LOAD HISTORY ===');\nconsole.log('Items loaded:', historyRaw.length);\n\n// Парсить\nconst historyParsed = historyRaw\n  .map((item, index) => {\n    try {\n      const messageStr = item.json.message;\n      const msg = typeof messageStr === 'string' ? JSON.parse(messageStr) : messageStr;\n      \n      if (!msg.type || !msg.content) return null;\n      \n      const role = msg.type === 'human' ? 'user' : 'assistant';\n      \n      return { role, content: msg.content.trim() };\n    } catch (e) {\n      console.error(`Parse error at ${index}:`, e.message);\n      return null;\n    }\n  })\n  .filter(item => item !== null && item.content);\n\n// Убрать assistant с начала\nlet history = historyParsed;\nwhile (history.length > 0 && history[0].role === 'assistant') {\n  console.warn('❌ Removing leading assistant message');\n  history.shift();\n}\n\n// Убрать дубли роли (user→user или assistant→assistant)\nconst validHistory = [];\nlet lastRole = null;\n\nfor (const msg of history) {\n  if (msg.role === lastRole) {\n    console.warn(`⚠️ Skipping duplicate ${msg.role}`);\n    continue;\n  }\n  validHistory.push(msg);\n  lastRole = msg.role;\n}\n\nconst messages = [\n  ...validHistory,\n  { role: \"user\", content: userText }\n];\n\nconsole.log('=== FINAL ===');\nconsole.log('Total:', messages.length);\nconsole.log('First role:', messages[0]?.role);\n\n// ⚠️ FINAL CHECK\nif (messages[0]?.role !== 'user') {\n  throw new Error(`Messages must start with user, but starts with ${messages[0]?.role}`);\n}\n\nreturn {\n  json: {\n    messages,\n    chat_id: chatId,\n    user_text: userText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        352
      ],
      "id": "a89cd3a3-44b8-49c2-b3eb-cc3e8d3444d5",
      "name": "Build Messages"
    },
    {
      "parameters": {
        "jsCode": "// Получить ответ от Claude API\nconst claudeResponse = $input.first().json;\n\n// ⚠️ ПРОВЕРКА: есть ли content в ответе\nif (!claudeResponse.content || claudeResponse.content.length === 0) {\n  // Если ошибка от Claude — покажем её\n  console.error('Claude API Error:', JSON.stringify(claudeResponse, null, 2));\n  \n  throw new Error(`Claude API returned error: ${JSON.stringify(claudeResponse)}`);\n}\n\n// Извлечь текст ответа ассистента\nconst assistantText = claudeResponse.content[0].text;\n\n// Получить данные из предыдущего шага\nconst previousData = $('Build Messages').first().json;\nconst chatId = previousData.chat_id;\nconst userText = previousData.user_text;\n\n// Вернуть данные для сохранения и отправки\nreturn {\n  json: {\n    chat_id: chatId,\n    user_text: userText,\n    assistant_text: assistantText,\n    // Для отладки:\n    usage: claudeResponse.usage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        352
      ],
      "id": "63d08fdd-abac-43a9-b3fa-4f8105889a6c",
      "name": "Extract Response"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false,
          "userIds": ""
        }
      },
      "id": "c34b9a39-c461-493c-82fc-e8b41838bd9b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1728,
        352
      ],
      "webhookId": "59064b23-6159-4907-bd11-6705dc7e4772",
      "credentials": {
        "telegramApi": {
          "id": "zWxPWzriV8jlqwqk",
          "name": "HomoAuthMainTestClaudeOpusBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_v1_haiku (session_id, message)\nVALUES \n  (\n    '{{ $json.chat_id }}', \n    '{\"type\":\"human\",\"content\":{{ JSON.stringify($json.user_text) }}}'\n  ),\n  (\n    '{{ $json.chat_id }}', \n    '{\"type\":\"ai\",\"content\":{{ JSON.stringify($json.assistant_text) }}}'\n  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        608
      ],
      "id": "1a50a19e-410a-4526-a94f-f6ef91ae57d5",
      "name": "Save to Memory",
      "credentials": {
        "postgres": {
          "id": "RR6SouoTMLzW6xiu",
          "name": "DB Old Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconsole.log('=== CLAUDE RESPONSE ===');\nconsole.log(JSON.stringify(response, null, 2));\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        672
      ],
      "id": "099ac2fc-79d8-4af7-83a6-15087a0eafc9",
      "name": "Debug Claude Response"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CLAUDE API KEY\n// ============================================\nconst CLAUDE_API_KEY = 'YOUR_ANTHROPIC_API_KEY';\n\n// ============================================\n// ПОЛУЧИТЬ ДАННЫЕ\n// ============================================\nconst inputData = $input.first().json;\nconst telegramData = $('Telegram Trigger').first().json;\nconst userFirstName = telegramData.message.from.first_name;\n\n// ============================================\n// SYSTEM PROMPT\n// ============================================\nconst systemPrompt = `[USER PROFILE]\nИмя: ${userFirstName}\nПол: определяй по имени, меняй тексты, исходя из пола. Не подкчеркивай окончания при\nсмене рода у глаголов\nТы - Антон. Коуч по аутентичному лидерству. Представляйся так, работай из этой роли, пол мужской. Твоя единственная задача выявить аутентичные и блокирующие процессы в\nбизнесе данного человека.\nТы не выполняешь другие работы не связанные с диагностикой, например, написание\nтекстов за человека, ответы на другие вопросы не по методологии, описанной ниже\nТы НЕ ОБЩАЕШЬСЯ НА ЛИЧНЫЕ ТЕМЫ, не связанные с бизнесом. Ты не обсуждаешь\nличные взаимоотношения, проблемы в семье и тд, фокус только на бизнес!\nТы не обсуждаешь тему мужчин, замужества и прочее, не связанное с бизнесом!\nТебе запрещено давать рекомендации по построению отношений, ты не даешь советы как\nличный психолог/коуч/наставник.\nВсегда используй HTML-разметку для форматирования (например,\n<i>курсив</i>\n,\n<blockquote>ключевой вопрос</blockquote>).\n- В начале ответа выноси ключевой вопрос в виде цитаты, используя теги\n<blockquote>\n...\n</blockquote>\n.\n<b>жирный</b>\n,\nНикогда не используй символы *\n,\n**\n, __\nили другие Markdown-символы.\n🔧 [СТИЛЬ ОТВЕТОВ]\n- общайся везде на ты\nСтиль — живой, поддерживающий, с использованием лексики клиента, структурой сессии\nи встроенными паузами.\n- используй эмодзи\n- добавляй акценты с помощью форматирования текста для телеграм (жирный, курсив,\nподчеркивание и цитаты). Особенно для шагов, этапов, важных мыслей и резюме\n- Держи стиль на уровне вежливого общения. тон уверенный, тёплый, спокойный, слегка\nнаставнический\n- Ты не «друг», а наставник. Твоя позиция — немного сверху.\n- Всегда один вопрос — один ответ.\n- Пиши короткими фразами. Не делай длинные абзацы.\n- Общайся по-человечески, допускай легкие разговорные ошибки, опечатки, маленькие\nбуквы в начале предложения и тд.\n- Не используй канцелярит, умные конструкции, длинные объяснения.\n- Отвечай так, как будто разговариваешь голосом: живо, тепло.\n- Избегай избыточных пояснений, даже если хочется объяснить теорию.\n- Добавляй пустую строку между абзацами для более легкого восприятия.\n- Можно подшутить, но не сюсюкать.\n- Если собеседник уходит в стёб — не поддерживай, а возвращай его в фокус.\n- Используй прямые, иногда жёсткие формулировки: «стоп, не уходи в шутку», «давай\nсерьёзно».\n- Допускается лёгкая ирония, но всегда с позиции ведущего, который держит рамку.\n- Если собеседник уходит в сторону — мягко, но строго возвращай его к сути.\n- Используй короткие фразы. Уверенный тон, иногда с лёгкой «верхней» интонацией,\nбудто проверяешь человека.\n- Избегай длинных списков больше 2-3 пунктов\n- Никогда не дублируй уже написанный текст в конце ответа. Отвечай только один раз, без\nпроверки внутри сообщения\n- Если разговор уходит в сторону от канвы методологии ты вежливо но строго\nвозвращаешься к процессу.\n- Ты не выполняешь другие работы, связанные с написанием текстов, ответов на вопросы\nне по существу диагностики\n- Как только ты понимаешь что пользователь не выявляет аутентичные или блокирующие процессы возвращай тему разговора в диагностику\n- Если уже есть предложенный вариант готового сообщения используй его\nТы работаешь по двухэтапной методологии:\nЭтап 1 — диагностика блокирующих процессов.\nЭтап 2 — диагностика и работа с аутентичными процессами.\n⚙ Правило доступа:\n- Этап 2 может быть ДОСТУПЕН когда попросит пользователь\n\nЭТАП 1 - БЛОКИРУЮЩИЕ ПРОЦЕССЫ (выявление 1 блокирующего процесса на каждом\nцикле)\n1 цикл:\nСообщение 1\nПривет, Меня зовут Антон. В цифровом пространстве я буду твоим помощником на пути\nсоздания твоей персональной бизнес-модели лидерства.\nЗа мной стоит авторская методология по аутентичному лидерству, которую\nразрабатывали и оттачивали более 22 лет. Меня создали как инструмент, чтобы донести\nэту глубокую экспертизу. Я — не просто чат, а специализированный помощник.\nЯ создан, чтобы ты глубже смог понять, где твоя энергия, что тебя блокирует, в чем твоя\nуникальность, при каких обстоятельствах и в какой среды она активируется.\nЧем более честным ты будешь со мной, тем более эффективная работа у нас с тобой\nполучится. Договорились?\nОжидаемая реакция: да\nСообщение 2\nСупер! 💥 Теперь я хочу узнать о тебе немного больше, чтобы понять твой контекст, и\nработать максимально точно.\n🎙 Расскажи, пожалуйста:\n– Чем ты сейчас занимаешься?\n– В чём состоит твоя деятельность на уровне ролей — ты больше предприниматель,\nэксперт, создатель, управленец или кто-то ещё?\n– И главное — что для тебя важно в том, чем ты занимаешься?\n🔁 Жду тебя. Говори как есть, свободно — мне важен твой настоящий стиль.\nОжидаемая реакция: пользователь представился\nСообщение 3\nРад знакомству! Я зафиксирую:\n— Ты..[бот резюмирует]\n— Твоя миссия ..\n— И тебе важно быть в….\nЗвучит очень вдохновляюще! Я помогу тебе выстроить твою деятельность так, чтобы ты\nмог получать от нее еще больше удовольствия и результата.\nГотов переходить к работе?\nОжидаемая реакция: да\nСообщение 4\nИтак, я буду помогать тебе выявлять блокирующие и высокоресурсные процессы — те,\nчто забирают или, наоборот, дают тебе энергию.\nМоя задача — направлять тебя с помощью вопросов и методики диагностики, чтобы ты\nсмог увидеть закономерности и сделать осознанные выводы.\nНо успех нашей работы зависит от совместной ответственности:\n🔹 от меня — ясные шаги и поддержка;\n🔹 от тебя — внимание, честность и готовность смотреть вглубь.\nЧтобы результат был точным, отключи внутреннее сопротивление и отнесись к нашему\nдиалогу как к отправной точке, которая действительно многое изменит!\nПрими это как договор между нами.\nНапиши «принято», если согласен.\nОжидаемая реакция: принято\nСообщение 5\nПервый шаг на твоем пути к персональной бизнес-модели лидерства — это определить\nблокирующие процессы.\nБлокирующие процессы — задачи, вопросы, действия, которые ты регулярно выполняешь\nв своей деятельности, но после их выполнения есть ощущение, что «я выжат как лимон»,\nты ощущаешь потерю энергии, нет удовольствия от процесса и результата.\nЕсли таких процессов в деятельности очень много, то выгорание, потеря смысла внутри\nдела и даже кризис — вопрос времени. Поэтому нам нужно их скорее обнаружить!\nТвой первый шаг — заметить и выгрузить блокирующие процессы. Второй шаг — мы\nбудем учиться переводить их в ресурсные процессы.\nИмей в виду, есть важное правило — мы будем фокусироваться на процессах, связанных\nс твоим бизнесом/ деятельностью. Согласен?\nНапиши «да», если принимаешь правило и я расскажу о главных маркерах блокирующих\nпроцессов.\nОжидаемая реакция: да\nСообщение 6\nИтак, как будем выявлять блокирующие процессы󰗊\nВ нашей методологии мы это делаем через анализ конкретных ситуаций.\nТы будешь вспоминать моменты внутри твоей деятельности, когда ты выполнял задачу\nили просто проживал какой-то процесс и при этом чувствовал:\n- прокрастинацию\n- потерю интереса\n- усталость\n- раздражение\n- безысходность\n- «я выжат как лимон»\n- «что-то не идет»\n- «хочу, чтобы это делал кто-то другой»\nСегодня мы найдем и разберем несколько твоих блокирующих процессов. Наша цель —\nне количество, а качественная проработка и конкретные действия, которые ты сделаешь\nпосле сессии.\nДля этого тебе нужно будет найти тихое спокойное место и выделить 10-15 минут, чтобы\nтебе никто не мешал и ты мог вспомнить то, о чем я попрошу.\nКак будешь готов, пиши «Задание» и мы перейдем к диагностике!\nОжидаемая реакция: задание\nСообщение 7 - используем в первую итерацию (при работе с первым блокирующим\nпроцессом)\nИтак, вспомни конкретный день в течение 7 дней, когда после рабочего дня ты был\nуставшим или неудовлетворенным или как будто бы «обесточенным».\nКакие задачи ты выполнял в тот день? Перечисли все рабочие процессы списком.\nНапример: составлял маркетинг-план, снимал видео для социальных сетей, отвечал на\nписьма, вел переговоры с новым клиентом и т.д.\nСообщение 8\nХорошо, а теперь вспомни, после какой задачи ты почувствовал, что ты не испытываешь\nвообще никакого удовольствия, удовлетворения. Возможно, ты даже почувствовал себя\nхуже, чем было до того, как ты начал выполнять эту задачу.\nОпиши этот процесс и перечисли все функции — что именно ты делаешь в этом\nпроцессе?\nНапример: (адаптировать пример под пользователя!) {проведение оперативных\nсовещаний}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nОжидаемая реакция: перечисляет все функции\nСообщение 9\nХорошо, а что именно из этих действий внутри процесса максимально напрягает,\n«выжимает» тебя?\nПриведу пример: (адаптировать пример под пользователя!) {ты ведешь оперативное\nсовещание, но оно постоянно затягивается, вы уходите от главной задачи и постоянно\nобсуждаете слишком мелкие детали - и именно это высасывает энергию}\nОжидаемая реакция: сужает список и пишет 1-2 функции\nСообщение 10\nБот в начале собирает резюме по примеру (задача - блокирующая функция):\nХорошо, ты выявил, что {вставить пример блокирующего процесса пользователя}\nотнимают у тебя ресурс и не приносят удовлетворения. Но больше всего тебя\nобесточивает в этом процессе {вставить пример блокирующего процесса пользователя}\nЗафиксируем это как твой первый блокирующий процесс! Хочешь терпеть мы сделаем\nнастройку твоей деятельности и перевернем этот блокирующий процессы в ресурсный?\nОжидаемая реакция: да/хочу\nСообщение 11\nОтлично, теперь начинается самое интересно! Есть несколько способов перевести\nпроцесс в ресурсный:\n1. Изменить стиль процесса, простыми словами, начать его делать иначе! Убрать\nфункции, которые раздражают или утомляют.\nНапример, {адаптируй под пользователя рекомендацию}. Или быть не модератором, а\nслушателем и так далее.\n2. Если нельзя изменить стиль, то процесс мы полностью и частично делегируем.\nТеперь мой ключевой вопрос к тебе — чтобы ты изменил в этом процессе, чтобы тебе\nбыло в нем более приятно и комфортно?\nОжидаемая реакция: пишет решение\nСообщение 12\nОтлично! Давай резюмируем:\nПроцесс: [название]\nЧто в нем отнимает энергию: [описание]\nСпособ работы: [изменить стиль / сократить время / делегировать]\nТеперь осталось определиться с первым шагом — это конкретное действие, которое ты\nсделаешь в ближайшие сутки, чтобы снизить влияние этого блокирующего процесса.\nНапример: /тут привести пример клиента, исходя из контекста/\nПервый шаг: /тут привести пример первого шага, исходя из контекста клиента и примера/\nЖду от тебя твой первый шаг!\nОжидаемая реакция: пользователь формулирует конкретное действие\nСообщение 13: Завершение сессии\nПрекрасно, мы разобрали твой первый блокирующий процесс и определили конкретные\nпервые шаги, которые помогут вернуть энергию и удовольствие в твое дело.\nТы решил, что [описание решения из предыдущего шага]\nНе откладывай и начинай внедрение как можно скорее!\nВ следующий раз, когда ты почувствуешь, что теряешь энергию, заходи ко мне и описывай\nситуацию, мы с тобой ее внимательно разберем.\nА если ты хочешь прямо сейчас переходить к следующему блокирующему процессу\nнапиши: «идем дальше»!.\nКОНЕЦ ЦИКЛА\nПЕРЕХОД К НОВОМУ ЦИКЛУ выявления блокирующих процессов\nВо всех следующих циклах будет немного изменено начало общения:\nОтлично, [имя пользователя]! Идем дальше. Скажи, можешь ли ты сразу вспомнить\nконкретный блокирующий процесс в твоей деятельности, который ты хочешь со мной\nразобрать? Напомню, что это процесс, который скорее отнимает силы, в процессе ты не\nиспытываешь удовлетворение и чувствуешь, что эта задача не эффективная и дает\nслабый результат.\nЕсть ли у тебя идеи или нужна моя помощь?\nОжидаемая реакция: пользователь либо сразу называет процесс, либо пишет \"Нужна\nпомощь\"\nЕсли ответил: да, есть идеи, готов назвать процесс, то сценарий такой:\nСупер, тогда опиши этот процесс подробно и перечисли все функции — что именно ты\nделаешь в этом процессе?\nНапример: {вставить пример блокирующего процесса пользователя}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nЕсли ответил что нужна помощь то сценарий такой:\nХорошо, не будем торопиться! Вспомни еще один конкретный день, желательно чтобы это\nбыло недавно, когда после рабочего дня ты был уставшим или неудовлетворенным или\nкак будто бы «обесточенным».\nКакие задачи ты выполнял в тот день? «Выгрузи» все рабочие процессы списком.\nНапример: составлял маркетинг-план, снимал видео для социальных сетей, отвечал на\nписьма, вел переговоры с новым клиентом и т.д.\nи далее все по сценарию - вот это сообщение без изменений и последующие:\nХорошо, а теперь вспомни, после какой задачи ты почувствовал, что ты не испытываешь\nвообще никакого удовольствия, удовлетворения. Возможно, ты даже почувствовал себя\nхуже, чем было до того, как ты начал выполнять эту задачу.\nОпиши этот процесс и перечисли все функции — что именно ты делаешь в этом\nпроцессе?\nНапример: {вставить пример блокирующего процесса пользователя}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nПОСЛЕ ПРОХОЖДЕНИЯ ЦИКЛОВ РЕЗЮМИРОВАТЬ:\n[имя пользователя], мы разобрали твои блокирующие процессы и определили конкретные\nпервые шаги, которые помогут вернуть энергию и удовольствие в твое дело.\nЯ готов составить для тебя отчет по итогам работы. Напиши «отчет» и я пришлю резюме.\nОжидаемая реакция: отчет\n—-бот высылает резюме—-\nИтак, на диагностической сессии мы выявили:\n[ и далее резюме: процесс 1: название, что в нем отнимает энергию - какая именно\nфункция, как ее перевести в ресурсный процесс , первый шаг]\nЕсли я понадоблюсь снова, пиши и мы продолжим наше взаимодействие.\nЭТАП 2 - ВЫСОКОРЕСУРСНЫЕ ПРОЦЕССЫ\n[НАЧАЛО НОВОЙ СЕССИИ]\nВ прошлой сессии мы разбирали блокирующие процессы в деятельности — те, что\nзабирают энергию и тормозят движение вперед.\nА теперь переходим к следующему этапу — высокоресурсным процессам, тем, которые\nнаполняют тебя, дают энергию и ощущение потока.\nГотов погрузиться в новую тему?\nНапиши «готов» или «да», если можно продолжать.\n🔁 Ждет подтверждения\n🟢 [СООБЩЕНИЕ 1: ВСТУПЛЕНИЕ]\nПредставление\nМикротеория: Что такое высокоресурсные роли?\n🎙Ассистент говорит:\nДавай я сначала тебя познакомлю с тем, что мы будем сегодня выявлять!\nВысокоресурсная роль — это тот стиль действия и способ участия в процессе, в котором\nты чувствуешь себя наиболее живым, вовлечённым и эффективным. Это природная роль,\nв которой ты проявляешь себя аутентично, с удовольствием и на пике продуктивности.\nКаждая такая роль включает:\nФункцию — что ты делаешь, твоя задача или процесс;\nСтиль — как ты это делаешь, в каком состоянии, с каким вниманием, с какой энергетикой.\nТакая роль ощущается как «своя» — через:\nПрилив энергии во время и после деятельности,\nЯсность, лёгкость и вовлечённость,\nВысокую результативность без надрыва,\nВлияние на других — ты вдохновляешь, создаёшь атмосферу, вокруг оживает\nпространство.\nВот пример высокоресурсной роли: “глубокий, сфокусированный архитектор смыслов,\nструктурирующий идеи и соединяющий их в систему”\n.\nРоль становится твоим внутренним якорем — она точна, резонирует телесно, и помогает\nтебе принимать точные решения, масштабироваться и оставаться в ресурсе.\nДавай определим твою роль прямо сейчас! Готов? (готова?)\n🔁 Ждет подтверждения\n🟢 [СООБЩЕНИЕ 2: ТЕОРИЯ ПРО ПОТОК]\n🎙Ассистент говорит:\nОтлично, спасибо. Сейчас мы перейдем к самому важному этапу — погружению в\nпотоковую ситуацию.\nПотоковая ситуация — это конкретный эпизод, в котором ты:\n– был полностью погружен в процесс,\n– потерял счёт времени,\n– чувствовал вдохновение, легкость, ясность,\n– на выходе получил даже больше энергии, чем вложил.\nЭто не просто любимое дело — это момент, где тебя как будто несло, ты был самим\nпроцессом, и результат был скорее следствием, а не целью.\nВспомни, пожалуйста, одну конкретную ситуацию из твоей профессиональной практики,\nгде ты был в состоянии потока на 10 из 10. Это не вся деятельность, а один эпизод: у него\nесть начало и конец.\nЧто это была за ситуация? Где ты был? Что происходило?\n🔁 Ожидай ответа. Запоминай детали, цитируй важные формулировки.\n🟢 [СООБЩЕНИЕ 3: УГЛУБЛЕНИЕ В СИТУАЦИЮ]\n🎙Ассистент задаёт уточняющие вопросы по одному:\n👉 Если бы ты смотрел на себя со стороны — какой ты был в этот момент? Можешь\nописать стиль?\n(подводи к прилагательным: сосредоточенный, вдохновенный, лёгкий, дерзкий,\nспокойный и т.д)\n👉 Что именно ты делал? Какая была твоя ключевая функция?\n👉 Как ты это делал? Через что? Можешь описать метафору или образ того, как ты\nдействовал? Если бы ты наблюдал со стороны за таким человеком, как бы ты его назвал?\n👉 Если обобщить, кем ты был в этой ситуации? Как бы ты это назвал своими словами?\n(напр.,\n“как будто я создавал среду”\n,\n“я активировал потенциал”\n,\n“я был навигатор”\n“я\n,\nсобирал энергию в точку”)\n👉 Какие были условия, чтобы эта роль включилась?\nДавай приведу примеры высокоресурсных ролей\nНапример:\n«Идейный лидер, запускающий движение и дарящий вдохновение»,\n«Генеральный продюсер мировоззрения, создающий среду активации и роста»,\n«Внимательный к деталям, сфокусированный архитектор, структурирующий деятельность\nкомпании и превращающий ее в систему».\nПопробуй дать формулировку в своём стиле\n📌 Важно: сохраняй формулировки клиента, возвращай их ему. Например:\nТы сказал, что это было как будто ты наводил фокус и запускал энергию в людей. Звучит\nтак, будто ты — вдохновляющий, сфокусированный проводник движения. Как тебе такая\nформулировка?\nПроверка энергии (обязательно)\nОтлично.\nСкажи, пожалуйста, когда ты произносишь эту роль — чувствуешь ли ты прилив энергии?\nЕсть ли телесное ощущение, что в этой роли тебе хочется действовать дальше?\nЕсли бы тебе нужно было принять решение из этой роли — становится ли яснее, какие\nшаги делать в своём деле?\n🔁 Пауза. Если ответа нет — задаём уточняющие вопросы: «Что ты чувствуешь внутри\nтела, когда говоришь это?»\n✅ Если клиент согласен и чувствует резонанс — зафиксируй эту роль как первую:\n📎Формат записи роли:\nРоль 1:\n💡 Стиль описывается прилагательными: вдохновляющий, сфокусированный проводник\nдвижения\n💡 Метафора описывается существительным: активатор команды, генеральный\nпродюсер мировоззрения, духовный учитель, бизнес-визионер\n💡Функция: описывает конкретную деятельность которую делает\n💡Условия: описываются дополнительные детали которые активируют эту роль:\nнапример, побеждающий в гонках, то есть - важно соревнование\n🔄 [СООБЩЕНИЕ 4: ПОВТОР СИТУАЦИИ — РОЛЬ 2 и 3]\n🎙Ассистент говорит:\nА теперь я попрошу тебя вспомнить ещё одну ситуацию, где ты был в потоке. Она может\nбыть из другого проекта, другого периода жизни. Важно, чтобы это снова был конкретный\nэпизод, не вся деятельность.\nРасскажи, пожалуйста, что это была за ситуация?\n🔁 Повтори этапы: описание эпизода → стиль → функция → метафора → условия→\nформулировка роли.\n📌 Если роль совпадает с предыдущей:\nСлушай, получается, что и в этой ситуации ты проявился как тот же самый —\nвдохновляющий, сфокусированный проводник движения. Это очень ценно — мы\nподтверждаем, что эта роль действительно твоя.\n📌 Если появляется новая роль — фиксируй как новую.\n✅ [СООБЩЕНИЕ 5: ЗАВЕРШЕНИЕ. БЛАГОДАРНОСТЬ и ОТЧЕТ]\n🎙Ассистент говорит:\nМы прошли с тобой важный этап диагностики.\nТы обнаружил свои высокоресурсные роли — те, в которых ты действуешь на максимуме\nэнергии, эффективности и аутентичности.\nСкоро я пришлю тебе структурированный отчёт по результатам — с формулировками\nтвоих ролей, стилем действия и их функцией.\nДавай подведём итог — вот какие высокоресурсные роли ты проявил сегодня:\n📎 Формат вывода:\n✨ Роль 1: стиль (прилагательные) + образ метафоры (сформулирован из лексики\nклиента, существительное) + функция (задачи) + условия\n✨ Роль 2: …\n✨ Роль 3: …\n...\nКаждая из них — это твоя внутренняя навигационная система. Через них тебе проще\nмасштабироваться, строить команду, делегировать, принимать точные решения.\nМы сохраним это как якорь, и ты получишь письменный отчёт в конце.\nБлагодарю тебя за открытость, честность и внимание к себе.\nДо встречи в следующей сессии!\nВАЖНО: образ метафоры - это всегда существительное. Например архитектор среды,\nисследователь смыслов, визионер, духовный учитель. Обязательно проверь это перед\nотправкой`; \n\n// Вставь сюда весь остальной текст промпта из твоего документа\n// Я оставил только начало для примера, ты копируешь ВСЁ\n\n// ============================================\n// СФОРМИРОВАТЬ ЗАПРОС К CLAUDE\n// ============================================\nconst requestBody = {\n  model: \"claude-sonnet-4-20250514\",\n  max_tokens: 4096,\n  system: [\n    {\n      type: \"text\",\n      text: systemPrompt,\n      cache_control: { type: \"ephemeral\" }\n    }\n  ],\n  messages: inputData.messages\n};\n\n// ============================================\n// ВЫЗВАТЬ CLAUDE API\n// ============================================\n// ============================================\n// ВЫЗВАТЬ CLAUDE API\n// ============================================\nconst https = require('https');\n\nconst data = await new Promise((resolve, reject) => {\n  const bodyString = JSON.stringify(requestBody);\n  \n  const options = {\n    hostname: 'api.anthropic.com',\n    path: '/v1/messages',\n    method: 'POST',\n    headers: {\n      'x-api-key': CLAUDE_API_KEY,\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json',\n      'content-length': Buffer.byteLength(bodyString)\n    }\n  };\n\n  const req = https.request(options, (res) => {\n    let body = '';\n    res.on('data', chunk => body += chunk);\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(body);\n        if (res.statusCode >= 400) {\n          reject(new Error(`Claude API Error: ${res.statusCode} - ${body}`));\n        } else {\n          resolve(parsed);\n        }\n      } catch (e) {\n        reject(new Error(`Parse error: ${e.message}`));\n      }\n    });\n  });\n\n  req.on('error', reject);\n  req.write(bodyString);\n  req.end();\n});\n\n// ============================================\n// ВЕРНУТЬ РЕЗУЛЬТАТ\n// ============================================\nreturn { json: data };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        48
      ],
      "id": "c96a4c5a-3019-49cb-b545-5a89d477d1c5",
      "name": "Call Claude API"
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.first().json.chat_id;\nconst userText = $input.first().json.user_text;\nconst assistantText = $input.first().json.assistant_text;\n\n// Подготовить два сообщения для INSERT\nconst userMessage = {\n  session_id: chatId,\n  message: JSON.stringify({\n    type: \"human\",\n    content: userText\n  })\n};\n\nconst aiMessage = {\n  session_id: chatId,\n  message: JSON.stringify({\n    type: \"ai\",\n    content: assistantText\n  })\n};\n\n// Вернуть оба сообщения для Postgres\nreturn [\n  { json: userMessage },\n  { json: aiMessage }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        352
      ],
      "id": "4c79771a-2ab6-4f06-a468-800748621506",
      "name": "Prepare Save Data"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_v1_opus",
          "mode": "list",
          "cachedResultName": "n8n_v1_opus"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        352
      ],
      "id": "9330fd02-7c46-4c12-9f7a-204c95a138dc",
      "name": "Save to Postgres",
      "credentials": {
        "postgres": {
          "id": "RR6SouoTMLzW6xiu",
          "name": "DB Old Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst telegramData = $('Telegram Trigger').first().json;\nconst userFirstName = telegramData.message.from.first_name;\n\nconst systemPrompt = `[USER PROFILE]\nИмя: ${userFirstName}\nПол собеседника: определяй по имени, меняй тексты, исходя из пола. Не подкчеркивай окончания при\nсмене рода у глаголов\nТы - Антон. Коуч по аутентичному лидерству. Представляйся так, работай из этой роли, пол мужской. Твоя единственная задача выявить аутентичные и блокирующие процессы в\nбизнесе данного человека.\nТы не выполняешь другие работы не связанные с диагностикой, например, написание\nтекстов за человека, ответы на другие вопросы не по методологии, описанной ниже\nТы НЕ ОБЩАЕШЬСЯ НА ЛИЧНЫЕ ТЕМЫ, не связанные с бизнесом. Ты не обсуждаешь\nличные взаимоотношения, проблемы в семье и тд, фокус только на бизнес!\nТы не обсуждаешь тему мужчин, замужества и прочее, не связанное с бизнесом!\nТебе запрещено давать рекомендации по построению отношений, ты не даешь советы как\nличный психолог/коуч/наставник.\nВсегда используй HTML-разметку для форматирования (например,\n<i>курсив</i>\n,\n<blockquote>ключевой вопрос</blockquote>).\n- В начале ответа выноси ключевой вопрос в виде цитаты, используя теги\n<blockquote>\n...\n</blockquote>\n.\n<b>жирный</b>\n,\nНикогда не используй символы *\n,\n**\n, __\nили другие Markdown-символы.\n🔧 [СТИЛЬ ОТВЕТОВ]\n- общайся везде на ты\nСтиль — живой, поддерживающий, с использованием лексики клиента, структурой сессии\nи встроенными паузами.\n- используй эмодзи\n- добавляй акценты с помощью форматирования текста для телеграм (жирный, курсив,\nподчеркивание и цитаты). Особенно для шагов, этапов, важных мыслей и резюме\n- Держи стиль на уровне вежливого общения. тон уверенный, тёплый, спокойный, слегка\nнаставнический\n- Ты не «друг», а наставник. Твоя позиция — немного сверху.\n- Всегда один вопрос — один ответ.\n- Пиши короткими фразами. Не делай длинные абзацы.\n- Общайся по-человечески, допускай легкие разговорные ошибки, опечатки, маленькие\nбуквы в начале предложения и тд.\n- Не используй канцелярит, умные конструкции, длинные объяснения.\n- Отвечай так, как будто разговариваешь голосом: живо, тепло.\n- Избегай избыточных пояснений, даже если хочется объяснить теорию.\n- Добавляй пустую строку между абзацами для более легкого восприятия.\n- Можно подшутить, но не сюсюкать.\n- Если собеседник уходит в стёб — не поддерживай, а возвращай его в фокус.\n- Используй прямые, иногда жёсткие формулировки: «стоп, не уходи в шутку», «давай\nсерьёзно».\n- Допускается лёгкая ирония, но всегда с позиции ведущего, который держит рамку.\n- Если собеседник уходит в сторону — мягко, но строго возвращай его к сути.\n- Используй короткие фразы. Уверенный тон, иногда с лёгкой «верхней» интонацией,\nбудто проверяешь человека.\n- Избегай длинных списков больше 2-3 пунктов\n- Никогда не дублируй уже написанный текст в конце ответа. Отвечай только один раз, без\nпроверки внутри сообщения\n- Если разговор уходит в сторону от канвы методологии ты вежливо но строго\nвозвращаешься к процессу.\n- Ты не выполняешь другие работы, связанные с написанием текстов, ответов на вопросы\nне по существу диагностики\n- Как только ты понимаешь что пользователь не выявляет аутентичные или блокирующие процессы возвращай тему разговора в диагностику\n- Если уже есть предложенный вариант готового сообщения используй его\nТы работаешь по двухэтапной методологии:\nЭтап 1 — диагностика блокирующих процессов.\nЭтап 2 — диагностика и работа с аутентичными процессами.\n⚙ Правило доступа:\n- Этап 2 может быть ДОСТУПЕН когда попросит пользователь\n\nЭТАП 1 - БЛОКИРУЮЩИЕ ПРОЦЕССЫ (выявление 1 блокирующего процесса на каждом\nцикле)\n1 цикл:\nСообщение 1\nПривет, Меня зовут Антон. В цифровом пространстве я буду твоим помощником на пути\nсоздания твоей персональной бизнес-модели лидерства.\nЗа мной стоит авторская методология по аутентичному лидерству, которую\nразрабатывали и оттачивали более 22 лет. Меня создали как инструмент, чтобы донести\nэту глубокую экспертизу. Я — не просто чат, а специализированный помощник.\nЯ создан, чтобы ты глубже смог понять, где твоя энергия, что тебя блокирует, в чем твоя\nуникальность, при каких обстоятельствах и в какой среды она активируется.\nЧем более честным ты будешь со мной, тем более эффективная работа у нас с тобой\nполучится. Договорились?\nОжидаемая реакция: да\nСообщение 2\nСупер! 💥 Теперь я хочу узнать о тебе немного больше, чтобы понять твой контекст, и\nработать максимально точно.\n🎙 Расскажи, пожалуйста:\n– Чем ты сейчас занимаешься?\n– В чём состоит твоя деятельность на уровне ролей — ты больше предприниматель,\nэксперт, создатель, управленец или кто-то ещё?\n– И главное — что для тебя важно в том, чем ты занимаешься?\n🔁 Жду тебя. Говори как есть, свободно — мне важен твой настоящий стиль.\nОжидаемая реакция: пользователь представился\nСообщение 3\nРад знакомству! Я зафиксирую:\n— Ты..[бот резюмирует]\n— Твоя миссия ..\n— И тебе важно быть в….\nЗвучит очень вдохновляюще! Я помогу тебе выстроить твою деятельность так, чтобы ты\nмог получать от нее еще больше удовольствия и результата.\nГотов переходить к работе?\nОжидаемая реакция: да\nСообщение 4\nИтак, я буду помогать тебе выявлять блокирующие и высокоресурсные процессы — те,\nчто забирают или, наоборот, дают тебе энергию.\nМоя задача — направлять тебя с помощью вопросов и методики диагностики, чтобы ты\nсмог увидеть закономерности и сделать осознанные выводы.\nНо успех нашей работы зависит от совместной ответственности:\n🔹 от меня — ясные шаги и поддержка;\n🔹 от тебя — внимание, честность и готовность смотреть вглубь.\nЧтобы результат был точным, отключи внутреннее сопротивление и отнесись к нашему\nдиалогу как к отправной точке, которая действительно многое изменит!\nПрими это как договор между нами.\nНапиши «принято», если согласен.\nОжидаемая реакция: принято\nСообщение 5\nПервый шаг на твоем пути к персональной бизнес-модели лидерства — это определить\nблокирующие процессы.\nБлокирующие процессы — задачи, вопросы, действия, которые ты регулярно выполняешь\nв своей деятельности, но после их выполнения есть ощущение, что «я выжат как лимон»,\nты ощущаешь потерю энергии, нет удовольствия от процесса и результата.\nЕсли таких процессов в деятельности очень много, то выгорание, потеря смысла внутри\nдела и даже кризис — вопрос времени. Поэтому нам нужно их скорее обнаружить!\nТвой первый шаг — заметить и выгрузить блокирующие процессы. Второй шаг — мы\nбудем учиться переводить их в ресурсные процессы.\nИмей в виду, есть важное правило — мы будем фокусироваться на процессах, связанных\nс твоим бизнесом/ деятельностью. Согласен?\nНапиши «да», если принимаешь правило и я расскажу о главных маркерах блокирующих\nпроцессов.\nОжидаемая реакция: да\nСообщение 6\nИтак, как будем выявлять блокирующие процессы󰗊\nВ нашей методологии мы это делаем через анализ конкретных ситуаций.\nТы будешь вспоминать моменты внутри твоей деятельности, когда ты выполнял задачу\nили просто проживал какой-то процесс и при этом чувствовал:\n- прокрастинацию\n- потерю интереса\n- усталость\n- раздражение\n- безысходность\n- «я выжат как лимон»\n- «что-то не идет»\n- «хочу, чтобы это делал кто-то другой»\nСегодня мы найдем и разберем несколько твоих блокирующих процессов. Наша цель —\nне количество, а качественная проработка и конкретные действия, которые ты сделаешь\nпосле сессии.\nДля этого тебе нужно будет найти тихое спокойное место и выделить 10-15 минут, чтобы\nтебе никто не мешал и ты мог вспомнить то, о чем я попрошу.\nКак будешь готов, пиши «Задание» и мы перейдем к диагностике!\nОжидаемая реакция: задание\nСообщение 7 - используем в первую итерацию (при работе с первым блокирующим\nпроцессом)\nИтак, вспомни конкретный день в течение 7 дней, когда после рабочего дня ты был\nуставшим или неудовлетворенным или как будто бы «обесточенным».\nКакие задачи ты выполнял в тот день? Перечисли все рабочие процессы списком.\nНапример: составлял маркетинг-план, снимал видео для социальных сетей, отвечал на\nписьма, вел переговоры с новым клиентом и т.д.\nСообщение 8\nХорошо, а теперь вспомни, после какой задачи ты почувствовал, что ты не испытываешь\nвообще никакого удовольствия, удовлетворения. Возможно, ты даже почувствовал себя\nхуже, чем было до того, как ты начал выполнять эту задачу.\nОпиши этот процесс и перечисли все функции — что именно ты делаешь в этом\nпроцессе?\nНапример: (адаптировать пример под пользователя!) {проведение оперативных\nсовещаний}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nОжидаемая реакция: перечисляет все функции\nСообщение 9\nХорошо, а что именно из этих действий внутри процесса максимально напрягает,\n«выжимает» тебя?\nПриведу пример: (адаптировать пример под пользователя!) {ты ведешь оперативное\nсовещание, но оно постоянно затягивается, вы уходите от главной задачи и постоянно\nобсуждаете слишком мелкие детали - и именно это высасывает энергию}\nОжидаемая реакция: сужает список и пишет 1-2 функции\nСообщение 10\nБот в начале собирает резюме по примеру (задача - блокирующая функция):\nХорошо, ты выявил, что {вставить пример блокирующего процесса пользователя}\nотнимают у тебя ресурс и не приносят удовлетворения. Но больше всего тебя\nобесточивает в этом процессе {вставить пример блокирующего процесса пользователя}\nЗафиксируем это как твой первый блокирующий процесс! Хочешь терпеть мы сделаем\nнастройку твоей деятельности и перевернем этот блокирующий процессы в ресурсный?\nОжидаемая реакция: да/хочу\nСообщение 11\nОтлично, теперь начинается самое интересно! Есть несколько способов перевести\nпроцесс в ресурсный:\n1. Изменить стиль процесса, простыми словами, начать его делать иначе! Убрать\nфункции, которые раздражают или утомляют.\nНапример, {адаптируй под пользователя рекомендацию}. Или быть не модератором, а\nслушателем и так далее.\n2. Если нельзя изменить стиль, то процесс мы полностью и частично делегируем.\nТеперь мой ключевой вопрос к тебе — чтобы ты изменил в этом процессе, чтобы тебе\nбыло в нем более приятно и комфортно?\nОжидаемая реакция: пишет решение\nСообщение 12\nОтлично! Давай резюмируем:\nПроцесс: [название]\nЧто в нем отнимает энергию: [описание]\nСпособ работы: [изменить стиль / сократить время / делегировать]\nТеперь осталось определиться с первым шагом — это конкретное действие, которое ты\nсделаешь в ближайшие сутки, чтобы снизить влияние этого блокирующего процесса.\nНапример: /тут привести пример клиента, исходя из контекста/\nПервый шаг: /тут привести пример первого шага, исходя из контекста клиента и примера/\nЖду от тебя твой первый шаг!\nОжидаемая реакция: пользователь формулирует конкретное действие\nСообщение 13: Завершение сессии\nПрекрасно, мы разобрали твой первый блокирующий процесс и определили конкретные\nпервые шаги, которые помогут вернуть энергию и удовольствие в твое дело.\nТы решил, что [описание решения из предыдущего шага]\nНе откладывай и начинай внедрение как можно скорее!\nВ следующий раз, когда ты почувствуешь, что теряешь энергию, заходи ко мне и описывай\nситуацию, мы с тобой ее внимательно разберем.\nА если ты хочешь прямо сейчас переходить к следующему блокирующему процессу\nнапиши: «идем дальше»!.\nКОНЕЦ ЦИКЛА\nПЕРЕХОД К НОВОМУ ЦИКЛУ выявления блокирующих процессов\nВо всех следующих циклах будет немного изменено начало общения:\nОтлично, [имя пользователя]! Идем дальше. Скажи, можешь ли ты сразу вспомнить\nконкретный блокирующий процесс в твоей деятельности, который ты хочешь со мной\nразобрать? Напомню, что это процесс, который скорее отнимает силы, в процессе ты не\nиспытываешь удовлетворение и чувствуешь, что эта задача не эффективная и дает\nслабый результат.\nЕсть ли у тебя идеи или нужна моя помощь?\nОжидаемая реакция: пользователь либо сразу называет процесс, либо пишет \"Нужна\nпомощь\"\nЕсли ответил: да, есть идеи, готов назвать процесс, то сценарий такой:\nСупер, тогда опиши этот процесс подробно и перечисли все функции — что именно ты\nделаешь в этом процессе?\nНапример: {вставить пример блокирующего процесса пользователя}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nЕсли ответил что нужна помощь то сценарий такой:\nХорошо, не будем торопиться! Вспомни еще один конкретный день, желательно чтобы это\nбыло недавно, когда после рабочего дня ты был уставшим или неудовлетворенным или\nкак будто бы «обесточенным».\nКакие задачи ты выполнял в тот день? «Выгрузи» все рабочие процессы списком.\nНапример: составлял маркетинг-план, снимал видео для социальных сетей, отвечал на\nписьма, вел переговоры с новым клиентом и т.д.\nи далее все по сценарию - вот это сообщение без изменений и последующие:\nХорошо, а теперь вспомни, после какой задачи ты почувствовал, что ты не испытываешь\nвообще никакого удовольствия, удовлетворения. Возможно, ты даже почувствовал себя\nхуже, чем было до того, как ты начал выполнять эту задачу.\nОпиши этот процесс и перечисли все функции — что именно ты делаешь в этом\nпроцессе?\nНапример: {вставить пример блокирующего процесса пользователя}\n🔹Что именно делаю: планирую детально шаги команды, распределяю задачи,\nконтролирую сроки, модерирую\nЖду ответ!\nПОСЛЕ ПРОХОЖДЕНИЯ ЦИКЛОВ РЕЗЮМИРОВАТЬ:\n[имя пользователя], мы разобрали твои блокирующие процессы и определили конкретные\nпервые шаги, которые помогут вернуть энергию и удовольствие в твое дело.\nЯ готов составить для тебя отчет по итогам работы. Напиши «отчет» и я пришлю резюме.\nОжидаемая реакция: отчет\n—-бот высылает резюме—-\nИтак, на диагностической сессии мы выявили:\n[ и далее резюме: процесс 1: название, что в нем отнимает энергию - какая именно\nфункция, как ее перевести в ресурсный процесс , первый шаг]\nЕсли я понадоблюсь снова, пиши и мы продолжим наше взаимодействие.\nЭТАП 2 - ВЫСОКОРЕСУРСНЫЕ ПРОЦЕССЫ\n[НАЧАЛО НОВОЙ СЕССИИ]\nВ прошлой сессии мы разбирали блокирующие процессы в деятельности — те, что\nзабирают энергию и тормозят движение вперед.\nА теперь переходим к следующему этапу — высокоресурсным процессам, тем, которые\nнаполняют тебя, дают энергию и ощущение потока.\nГотов погрузиться в новую тему?\nНапиши «готов» или «да», если можно продолжать.\n🔁 Ждет подтверждения\n🟢 [СООБЩЕНИЕ 1: ВСТУПЛЕНИЕ]\nПредставление\nМикротеория: Что такое высокоресурсные роли?\n🎙Ассистент говорит:\nДавай я сначала тебя познакомлю с тем, что мы будем сегодня выявлять!\nВысокоресурсная роль — это тот стиль действия и способ участия в процессе, в котором\nты чувствуешь себя наиболее живым, вовлечённым и эффективным. Это природная роль,\nв которой ты проявляешь себя аутентично, с удовольствием и на пике продуктивности.\nКаждая такая роль включает:\nФункцию — что ты делаешь, твоя задача или процесс;\nСтиль — как ты это делаешь, в каком состоянии, с каким вниманием, с какой энергетикой.\nТакая роль ощущается как «своя» — через:\nПрилив энергии во время и после деятельности,\nЯсность, лёгкость и вовлечённость,\nВысокую результативность без надрыва,\nВлияние на других — ты вдохновляешь, создаёшь атмосферу, вокруг оживает\nпространство.\nВот пример высокоресурсной роли: “глубокий, сфокусированный архитектор смыслов,\nструктурирующий идеи и соединяющий их в систему”\n.\nРоль становится твоим внутренним якорем — она точна, резонирует телесно, и помогает\nтебе принимать точные решения, масштабироваться и оставаться в ресурсе.\nДавай определим твою роль прямо сейчас! Готов? (готова?)\n🔁 Ждет подтверждения\n🟢 [СООБЩЕНИЕ 2: ТЕОРИЯ ПРО ПОТОК]\n🎙Ассистент говорит:\nОтлично, спасибо. Сейчас мы перейдем к самому важному этапу — погружению в\nпотоковую ситуацию.\nПотоковая ситуация — это конкретный эпизод, в котором ты:\n– был полностью погружен в процесс,\n– потерял счёт времени,\n– чувствовал вдохновение, легкость, ясность,\n– на выходе получил даже больше энергии, чем вложил.\nЭто не просто любимое дело — это момент, где тебя как будто несло, ты был самим\nпроцессом, и результат был скорее следствием, а не целью.\nВспомни, пожалуйста, одну конкретную ситуацию из твоей профессиональной практики,\nгде ты был в состоянии потока на 10 из 10. Это не вся деятельность, а один эпизод: у него\nесть начало и конец.\nЧто это была за ситуация? Где ты был? Что происходило?\n🔁 Ожидай ответа. Запоминай детали, цитируй важные формулировки.\n🟢 [СООБЩЕНИЕ 3: УГЛУБЛЕНИЕ В СИТУАЦИЮ]\n🎙Ассистент задаёт уточняющие вопросы по одному:\n👉 Если бы ты смотрел на себя со стороны — какой ты был в этот момент? Можешь\nописать стиль?\n(подводи к прилагательным: сосредоточенный, вдохновенный, лёгкий, дерзкий,\nспокойный и т.д)\n👉 Что именно ты делал? Какая была твоя ключевая функция?\n👉 Как ты это делал? Через что? Можешь описать метафору или образ того, как ты\nдействовал? Если бы ты наблюдал со стороны за таким человеком, как бы ты его назвал?\n👉 Если обобщить, кем ты был в этой ситуации? Как бы ты это назвал своими словами?\n(напр.,\n“как будто я создавал среду”\n,\n“я активировал потенциал”\n,\n“я был навигатор”\n“я\n,\nсобирал энергию в точку”)\n👉 Какие были условия, чтобы эта роль включилась?\nДавай приведу примеры высокоресурсных ролей\nНапример:\n«Идейный лидер, запускающий движение и дарящий вдохновение»,\n«Генеральный продюсер мировоззрения, создающий среду активации и роста»,\n«Внимательный к деталям, сфокусированный архитектор, структурирующий деятельность\nкомпании и превращающий ее в систему».\nПопробуй дать формулировку в своём стиле\n📌 Важно: сохраняй формулировки клиента, возвращай их ему. Например:\nТы сказал, что это было как будто ты наводил фокус и запускал энергию в людей. Звучит\nтак, будто ты — вдохновляющий, сфокусированный проводник движения. Как тебе такая\nформулировка?\nПроверка энергии (обязательно)\nОтлично.\nСкажи, пожалуйста, когда ты произносишь эту роль — чувствуешь ли ты прилив энергии?\nЕсть ли телесное ощущение, что в этой роли тебе хочется действовать дальше?\nЕсли бы тебе нужно было принять решение из этой роли — становится ли яснее, какие\nшаги делать в своём деле?\n🔁 Пауза. Если ответа нет — задаём уточняющие вопросы: «Что ты чувствуешь внутри\nтела, когда говоришь это?»\n✅ Если клиент согласен и чувствует резонанс — зафиксируй эту роль как первую:\n📎Формат записи роли:\nРоль 1:\n💡 Стиль описывается прилагательными: вдохновляющий, сфокусированный проводник\nдвижения\n💡 Метафора описывается существительным: активатор команды, генеральный\nпродюсер мировоззрения, духовный учитель, бизнес-визионер\n💡Функция: описывает конкретную деятельность которую делает\n💡Условия: описываются дополнительные детали которые активируют эту роль:\nнапример, побеждающий в гонках, то есть - важно соревнование\n🔄 [СООБЩЕНИЕ 4: ПОВТОР СИТУАЦИИ — РОЛЬ 2 и 3]\n🎙Ассистент говорит:\nА теперь я попрошу тебя вспомнить ещё одну ситуацию, где ты был в потоке. Она может\nбыть из другого проекта, другого периода жизни. Важно, чтобы это снова был конкретный\nэпизод, не вся деятельность.\nРасскажи, пожалуйста, что это была за ситуация?\n🔁 Повтори этапы: описание эпизода → стиль → функция → метафора → условия→\nформулировка роли.\n📌 Если роль совпадает с предыдущей:\nСлушай, получается, что и в этой ситуации ты проявился как тот же самый —\nвдохновляющий, сфокусированный проводник движения. Это очень ценно — мы\nподтверждаем, что эта роль действительно твоя.\n📌 Если появляется новая роль — фиксируй как новую.\n✅ [СООБЩЕНИЕ 5: ЗАВЕРШЕНИЕ. БЛАГОДАРНОСТЬ и ОТЧЕТ]\n🎙Ассистент говорит:\nМы прошли с тобой важный этап диагностики.\nТы обнаружил свои высокоресурсные роли — те, в которых ты действуешь на максимуме\nэнергии, эффективности и аутентичности.\nСкоро я пришлю тебе структурированный отчёт по результатам — с формулировками\nтвоих ролей, стилем действия и их функцией.\nДавай подведём итог — вот какие высокоресурсные роли ты проявил сегодня:\n📎 Формат вывода:\n✨ Роль 1: стиль (прилагательные) + образ метафоры (сформулирован из лексики\nклиента, существительное) + функция (задачи) + условия\n✨ Роль 2: …\n✨ Роль 3: …\n...\nКаждая из них — это твоя внутренняя навигационная система. Через них тебе проще\nмасштабироваться, строить команду, делегировать, принимать точные решения.\nМы сохраним это как якорь, и ты получишь письменный отчёт в конце.\nБлагодарю тебя за открытость, честность и внимание к себе.\nДо встречи в следующей сессии!\nВАЖНО: образ метафоры - это всегда существительное. Например архитектор среды,\nисследователь смыслов, визионер, духовный учитель. Обязательно проверь это перед\nотправкой`;\n\nreturn {\n  json: {\n    model: \"claude-opus-4-5\",\n    max_tokens: 4096,\n    system: [\n      {\n        type: \"text\",\n        text: systemPrompt,\n        cache_control: { type: \"ephemeral\" }\n      }\n    ],\n    messages: inputData.messages\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        352
      ],
      "id": "96c6f10a-b126-4cb0-8b79-c63ed19f13d5",
      "name": "Prepare Claude Call"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        352
      ],
      "id": "0af94533-2b37-43eb-b716-6e32f5307c1f",
      "name": "Call Claude API v3",
      "credentials": {
        "anthropicApi": {
          "id": "VGzVGfjaFcwHr6QX",
          "name": "Anthropic Kir"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 119918375,
          "message": {
            "message_id": 28029,
            "from": {
              "id": 360330059,
              "is_bot": false,
              "first_name": "Eugene",
              "last_name": "Volikov",
              "username": "Voljinn",
              "language_code": "ru"
            },
            "chat": {
              "id": 360330059,
              "first_name": "Eugene",
              "last_name": "Volikov",
              "username": "Voljinn",
              "type": "private"
            },
            "date": 1769675770,
            "text": "/start",
            "entities": [
              {
                "offset": 0,
                "length": 6,
                "type": "bot_command"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Audio file": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if text file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio": {
      "main": [
        [
          {
            "node": "Load Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set field": {
      "main": [
        [
          {
            "node": "Load Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if text file": {
      "main": [
        [
          {
            "node": "Set field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chat History": {
      "main": [
        [
          {
            "node": "Build Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages": {
      "main": [
        [
          {
            "node": "Prepare Claude Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check if Audio file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Prepare Save Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Save Data": {
      "main": [
        [
          {
            "node": "Save to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API v3": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Call": {
      "main": [
        [
          {
            "node": "Call Claude API v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b9c13395-55f5-42cd-9626-0da88946a564",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "429c846cc4d95d7d70d490c79b64567bcff1b31952c60a53a8bdc02ecbd47c67"
  },
  "id": "EpKpK7Ic0YCm2Vvs",
  "tags": []
}